body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

form {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

.contact-info {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

textarea {
    resize: none;
    height: 100px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button.send {
    background-color: #00bcd4;
    color: #fff;
}

button.reset {
    background-color: #f44336;
    color: #fff;
}

.contact-info p {
    margin: 10px 0;
    font-size: 14px;
    text-align: left;
}

.contact-info i {
    margin-right: 10px;
    color: #ff5722;
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
        align-items: center;
    }

    form, .contact-info {
        min-width: 100%;
    }
}
